<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hernan Garcia Entrega Final</title>
</head>
<body>
    <!-- Barra de Navegacion-->
    <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="btn btn-primary" href="{% url "verPagina" %}">Paginas</a>
                <a class="btn btn-primary" href="{% url "crearPagina" %}">Crear Pagina</a>

                {% if user.is_authenticated %}
                    <img src="{{ user.avatar.imagen.url }}" alt="Usuario" height="60px">
                    <a class="btn btn-primary" href="{% url "editarUsuario" %}">{{ user.username }}</a>
                    <a class="btn btn-primary" href="{% url "accountLogout" %}">Logout</a>
                {% else %}
                    <a class="btn btn-primary" href="{% url "accountRegistrar" %}">Registrar</a>
                    <a class="btn btn-primary" href="{% url "accountLogin" %}">Login</a>
                {% endif %}

            </div>
    </nav>

   <!-- Mensajes -->
    {% block mensajes %}
    {%  for men in mensajes %}
        <p>{{ men }}</p>
    {% endfor %}
    {% endblock %}
    <!-- Bloque a cambiar en Hijo-->
    {% block contenido_cambia %}
       <h1>Bienvenido a la pagina principal</h1>
    {%  endblock %}
</body>
</html>